@font-face {
  font-family: "TTTravels";
  src: local("TTTravels-Regular"),
  url("../font/TTTravels-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTTravels";
  src: local("TTTravels-Medium"),
  url("../font/TTTravels-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTTravels";
  src: local("TTTravels-DemiBold"),
  url("../font/TTTravels-DemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTTravels";
  src: local("TTTravels-Bold"),
  url("../font/TTTravels-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* global */

body {
    margin: 0 auto;
    font-family: "TTTravels", 'Segoe UI', Tahoma, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

button {
    background-color: unset;
    border: none;
}


/* main */

.container {
    padding: 133px 118px;
    margin: 0 auto;
}

.calendar__list {
    gap: calc(18px + 28 * ((100vw - 1500px) / (1920 - 1500)));
    display: grid;
    align-items: stretch;
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(calc(306px + 72 * ((100vw - 1500px) / (1920 - 1500))), 1fr));
}

.calendar__item {
    padding-top: calc(15px + 5 * ((100vw - 320px) / (1920 - 320)));
    padding-block: calc(20px + 8 * ((100vw - 320px) / (1920 - 320)));
    padding-inline: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 440px;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.calendar__date {
    margin-bottom: 19px;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.card-wrapper {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.calendar__logo {
    max-height: 90px;
}

.calendar__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.calendar__descr {
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.calendar__location {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.calendar__location::before {
    margin-right: 8px;

    display: inline-block;
    content: "";
    width: 13px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2372 6.3871C12.2997 2.90323 9.55254 1.68889e-06 6.18105 1.41465e-06C2.80956 1.14041e-06 -1.76429e-05 2.77419 -1.79702e-05 6.25806C-1.81339e-05 8 0.749202 10.2581 2.31008 12.9677C3.55878 15.0323 5.80643 18 5.99374 18C6.11861 18 8.49114 15.0968 9.73984 13.0323C11.3631 10.3226 12.2372 8.06452 12.2372 6.3871Z' fill='black' fill-opacity='0.29'/%3E%3Cellipse cx='6.11862' cy='6.0937' rx='3.67118' ry='3.69501' fill='white'/%3E%3C/svg%3E");
}




.calendar__uri {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.calendar__uri::before {
  margin-right: 8px;

  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_535)'%3E%3Cpath d='M8.12499 11.375H1.62499V1.62499H8.12499V2.43748H9.74997V0H0V13H9.75V10.5625H8.12501V11.375H8.12499Z' fill='%23B5B5B5'/%3E%3Cpath d='M10.3006 3L9.15164 4.14892L10.2022 5.19944H6V6.82445H10.2022L9.15164 7.87498L10.3006 9.0239L13.3125 6.01194L10.3006 3Z' fill='%23B5B5B5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_535'%3E%3Crect width='13' height='13' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.calendar__footer {
    margin-bottom: 15px;
    margin-top: auto;
    width: 100%;
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__btn {
    padding: 8px 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    background-color: #6B46D4;
}

.more-btn {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #6B46D4;
}

/* footer */

.footer__container {
    background-image: url('/img/footer-img.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: right;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #262529;
    color: #FFFFFF;
}

.footer-top {
  max-width: 589px;
  padding-top: 58px;
  padding-bottom: 48px;
}

.footer__descr {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.footer-bottom {
  padding-top: 9px;
  width: 100%;
  background-color: #262529D9;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__date {
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
}

.footer__list {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 1365.5px;

  display: flex;
  justify-content: space-between;

  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  border-top: 2px solid #FFFFFF59;
}

.footer__item {
  position: relative;
}

.current-date::before {
  position: absolute;
  content: '';
  top: -22px;
  width: 35px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
}


